<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link rel="stylesheet" href ="{% static 'form_blog_styling.css' %}">
    <title>All Blogs</title>

</head>
<body>
<form method="post" action="/blog/home/post">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="I want to blog" /><br>
</form>
{% for ob in data %}
<div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
  <div class="card-header">
    <!--- Blog ID NO.!-->
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
            <img src=" {{ ob.user_file.url }}" width = "250">

      <p>{{ ob.blog }}</p>
      <footer class="blockquote-footer">Author's Name: {{ ob.author }}</footer>
        <footer class="blockquote-footer">Created At: {{ ob.created_at }}</footer>
         <footer class="blockquote-footer">Updated At: {{ ob.updated_at }}</footer>
    </blockquote>
  </div>
</div>
{% endfor %}
</div>

</body>
</html>